footer {
  display: flex;
  flex-direction: column;
}

.footer__upper {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding-top: 120px;
  background-color: $color-light2-brown;
  padding-bottom: 100px;

  .wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    padding: 10px;

    @media screen and (max-width: 500px) {
      gap: 40px;
      justify-content: center;

      .footer__upper__col-links {
        align-items: center;
        text-align: center;
      }
    }
  }
}

.footer__upper__col-main {
  display: flex;
  flex-direction: column;
  gap: 15px;

  @media screen and (max-width: 900px) {
    width: 100%;
    padding-bottom: 40px;
  }

  @media screen and (max-width: 500px) {
    width: 100%;
    padding-bottom: 40px;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
}

.footer__upper__col-main-item {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.footer__upper__col-main-item--icon {

}

.footer__upper__col-main-item--text {

}

.footer__upper__col-main-social {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.footer__upper__col-main-social--title {

}

.footer__upper__col-main-social--links {

}

.footer__upper__col-links {
  display: flex;
  flex-direction: column;
  gap: 40px;
  align-items: flex-start;
  justify-content: flex-start;
}

.footer__upper__col-links--title {
  font-weight: 600;
  font-size: 18px;
  color: $color-black-text;
}

.footer__upper__col-links--list {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.footer__upper__col-links--list-item {
  color: $color-dark-text;
  text-decoration: underline $color-orange;
  padding: 5px 5px;

  &:hover {
    padding: 5px 5px;
    background-color: $color-orange;
    color: $color-white;
    border-radius: 5px;
  }
}

.footer__bottom {
  background-color: $color-dark-text;
  width: 100%;
  display: flex;
  justify-content: center;
  min-height: 72px;

  .wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    padding: 10px;
    flex-wrap: wrap;

    @media screen and (max-width: 500px) {
    justify-content: center;
      align-items: center;
    }
  }
}

.footer__copyright {
  color: rgba(255, 255, 255, 0.15);
  font-size: 16px;
}

.footer__brands {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
}
