.section__other-styles {
  display: flex;
  justify-content: center;
  padding: 120px 0;


  .wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
  }
}

.other-styles__slider {

}

.other-styles__slider-wrapper {

}

.other-styles__slider-slide {
  display: flex;
  flex-direction: column;
  gap: 25px;
  max-width: 440px;
  align-items: center;
}

.other-styles__slider-slide--title {
  font-weight: 400;
  font-size: 38px;
  color: $color-black-text;
}

.other-styles__slider-slide--image {
  max-width: 400px;
  max-height: 500px;

  img {
    width: 100%;
    height: auto;
  }
}

.other-styles__slider-slide--text {
  font-size: 16px;
  font-weight: 400;
  color: $color-dark-text;
}

.other-styles__slider-slide--price {
  font-size: 20px;
  font-weight: 400;
  color: $color-black-text;

  span {
    font-weight: 600;
  }
}

.other-styles__slider-slide--button {

}