.section__help-designer {
  display: flex;
  justify-content: center;
  padding-top: 120px;
  padding-bottom: 120px;

  .wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 20px;
  }
}

.help-designer__info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 45px;
  align-items: flex-start;
  width: 100%;
  padding-top: 80px;
  flex-wrap: wrap;

  @media screen and (max-width: 1340px) {
    justify-content: center;
  }
}

.help-designer__info-column {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 50px;
  max-width: 410px;

  &.reverse {
    .help-designer__info-item {
      flex-direction: row-reverse;
      justify-content: flex-end;

      .help-designer__info-item--text {
        text-align: right;
      }
    }

    @media screen and (max-width: 900px) {
      .help-designer__info-item {
        flex-direction: row;
        justify-content: flex-start;

        .help-designer__info-item--text {
          text-align: left;
        }
      }
    }
  }
}

.help-designer__info-item {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 15px;
}

.help-designer__info-item--text {
  text-align: left;
  max-width: 370px;
  font-size: 20px;
  font-weight: 400;
  color: $color-dark-text;

  .text-orange {
    font-weight: 700;
    color: $color-orange;
  }
}

.help-designer__form {
  display: flex;
  margin-top: 40px;
  padding: 9px 11px;
  border-radius: 5px;
  background-color: $color-light-brown;
  width: 100%;
  height: auto;
}

.help-designer__form-inner {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  background: transparent;
  border: 2px solid $color-white;
  padding: 40px;
  border-radius: 5px;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: flex-start;

  @media screen and (max-width: 500px) {
    padding: 15px;
  }
}

.help-designer__form-title {
  font-weight: 400;
  font-size: 30px;
  color: $color-dark-text;
}

.help-designer__form-inputs {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  gap: 30px;
  padding-top: 30px;
  padding-bottom: 20px;
  flex-wrap: wrap;
}

.help-designer__form-element {
  display: flex;
  flex-direction: column;
  gap: 5px;

  label {
    font-size: 14px;
    font-weight: 400;
    color: $color-dark-text;
  }
}

.help-designer__form-input {
  max-width: 290px;
  width: 100%;
  min-height: 60px;
  background-color: $color-white;
  color: $color-dark-text;
  font-size: 16px;
  border-radius: 5px;
  border: none;
  padding: 14px 25px;
}