.section__examples-portraits {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  margin-top: 120px;
  background-color: $color-dark-text;
  padding: 95px 0 160px 0;
}

.examples-portraits__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 100px;
  gap: 100px;
  flex-wrap: wrap;
}

.examples-portraits__main {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 15px;
}

.examples-portraits__title {
  font-size: 20px;
  color: $color-white;
}

.examples-portraits__subtitle {
  font-size: 14px;
  font-weight: 300;
  color: $color-white;
}

.examples-portraits__content {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 44px;
  width: 100%;
}

.examples-portraits__slider {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.examples-portraits__slider--item {
  display: flex;
  max-width: 315px;
  max-height: 400px;
  justify-content: center;
  align-items: center;

  img {
    width: 100%;
    height: auto;
  }
}

.swiper-button--prev,
.swiper-button--next {
  max-width: 48px;
  max-height: 51px;
  cursor: pointer;

  svg {
    width: 100%;
    height: 100%;
  }
}

.swiper-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 15px;
  width: 100%;
  max-width: 800px;
}

.examples-portraits__image {
  max-width: 412px;
  max-height: 437px;

  img {
    width: 100%;
    height: auto;
  }
}