$color-white: #FFFFFF;
$color-gray: #AD878026;
$color-light-brown: #F9EFEB;
$color-light2-brown: #FBF2EA;
$color-brown: #AD8780;
$color-orange: #FA7846;
$color-dark-text: #1E2533;
$color-black-text: #000000;
